<div class="container">
  <div class="row">
    <h1 class="center">Super Yacht Surplus</h1>

    <div class="col s6">
      <form class="right-align" action="/purchase" method="post">
        <button type="submit" name="button" class="waves-effect waves-light btn-large deep-purple darken-2">New Cart</button>
      </form>
    </div>
    <div class="col s6">
      <a href="/admin" class="waves-effect waves-light btn-large deep-purple darken-2">Store Owner</a>
    </div>
  </div>
</div>
